module <%= provider_module_name %>
  class <%= event_class_name %> < Base
    def process!
      session_id = payload.dig("data", "object", "id")

      # TODO: Add business logic
      # session = Stripe::Checkout::Session.retrieve(session_id) # this assumes the Stripe gem is available

      @webhook_event.processed!
    end
  end
end
