module <%= provider_module_name %>
  class Reject < Base
    def process!
      # payload.rcpt  # email address that was rejected
      # payload.message  # rejection reason
      # payload.subject  # email subject
      # payload.email_id  # email identifier

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
