module <%= provider_module_name %>
  class ResourcePushed < Base
    def process!
      # payload["data"]["id"]        # resource id
      # payload["data"]["filename"]  # e.g., "posts/hello-world.md"
      # payload["data"]["status"]    # "draft" | "published"

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
