module <%= provider_module_name %>
  class EmailBounced < Base
    def process!
      bounce_type = payload["bounce_type"]

      # TODO: Add business logic

      @webhook_event.processed!
    end
  end
end
