@layer base, components;

@layer base {
  :root {
    color-scheme: light; /* TODO: add `dark` */

    --gray-50: oklch(98.7% 0.002 197.1);
    --gray-100: oklch(96.3% 0.002 197.1);
    --gray-200: oklch(92.5% 0.005 214.3);
    --gray-300: oklch(87.2% 0.007 219.6);
    --gray-400: oklch(72.3% 0.014 214.4);
    --gray-500: oklch(56% 0.021 213.5);
    --gray-600: oklch(45% 0.017 213.2);
    --gray-700: oklch(37.8% 0.015 216);
    --gray-800: oklch(27.5% 0.011 216.9);
    --gray-900: oklch(21.8% 0.008 223.9);
    --gray-950: oklch(14.8% 0.004 228.8);
  }

  * { box-sizing: border-box; margin: 0; padding: 0; }

  body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
    color: var(--gray-800);
  }

  main {
    padding: 2rem;
    max-inline-size: 80rem;
    margin-inline: auto;
  }

  h1 {
    margin-block-end: 1rem;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: -.025em;

    a {
      color: var(--gray-500);

      &:hover { color: var(--gray-800); }
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  pre {
    margin: 0;
    padding-block: .5rem;
    padding-inline: 1rem;
    max-height: calc(20lh + 1rem);
    font-size: .875rem;
    background: var(--gray-100);
    border-radius: .5rem;
    overflow-x: auto;
  }

  dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem 2rem;
    overflow: hidden;

    dt {
      font-weight: 600;
      color: var(--gray-800);
    }

    dd {
      position: relative;
      overflow-x: auto;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: .5rem;
      position: absolute;
      top: .5rem; right: .5rem;
    }

    svg {
      width: 1rem;
      aspect-ratio: 1 / 1;
      color: var(--gray-800);
      background: var(--gray-100);
    }

    dd .copy-button .success-icon {
      display: none;
    }

    dd:has([data-copy-success="true"]) .copy-button .copy-icon {
      display: none;
    }

    dd:has([data-copy-success="true"]) .copy-button .success-icon {
      display: block;
    }
  }
}

@layer components {
  .events {
    list-style: none;
    margin-block-start: 1rem;

    li {
      --icon-width: 1.125rem;

      padding-block: .5rem;
      padding-inline: .75rem;

      &:hover { background: var(--gray-100); }

      a {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;

        &:hover { text-decoration: none; }
      }

      .name {
        display: grid;
        grid-template-columns: var(--icon-width) 1fr;
        align-items: center;
        gap: .5rem;
      }

      .icon {
        width: var(--icon-width);
        aspect-ratio: 1/1;
        border-radius: .125rem;
      }

      code {
        display: flex;
        align-items: center;
      }
    }

    li:not(:first-child) {
      border-top: 1px solid var(--gray-200);
    }
  }

  .status {
    display: flex;
    align-items: center;
    column-gap: .375rem;

    &::before {
      content: "";
      width: .5rem;
      aspect-ratio: 1/1;
      background-color: currentColor;
      border: 2px solid oklch(from currentColor 1 c h / 85%);
      border-radius: .5rem;
    }

    &[data-status="pending"]::before { color: oklch(65% .15 80); }

    &[data-status="processed"]::before { color: oklch(65% .15 150); }

    &[data-status="failed"]::before { color: oklch(60% .2 25); }
  }

  .filters {
    display: flex;
    align-items: center;
    gap: 2rem;

    fieldset {
      border: 0;

      legend {
        font-size: .875rem;
        font-weight: 400;
        color: var(--gray-500);
      }

      input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
      }

      .pills {
        display: inline-flex;
        background: var(--gray-50);
        border: 1px solid var(--gray-200);
        border-radius: .3rem;
        overflow: clip;

        .pill {
          display: inline-flex;
          align-items: center;
          padding: .25rem .75rem;
          font-size: .875rem;
          font-weight: 400;
          border-inline-start: 1px solid var(--gray-200);
          cursor: pointer;
          transition: all ease-in-out 100ms;

          &:first-child { border-inline-start: 0; }

          &:has(input:checked),
          &:hover:not(:has(input:checked)) {
            background-color: var(--gray-100);
          }
        }
      }
    }

    select {
      padding: .4rem .75rem;
      font-size: .875rem;
      background: var(--gray-50);
      border: 1px solid var(--gray-200);
      border-radius: .25rem;
      cursor: pointer;
    }

    [type=submit] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0; }
  }

  button,
  .copy-button {
    padding: .125rem;
    background: var(--gray-100);
    border: 0;
    border-radius: .25rem;
    cursor: pointer;

    &:hover {
      color: var(--gray-800);
      transition: transform ease-in-out 300ms;

      & svg { transform: scale(1.05); }
    }
  }

  .retry-button {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    margin-inline-start: .5rem;
    padding: .25rem .75rem;
    border: 1px solid var(--gray-200);
  }

  .json-highlight {
    .json-key {
      color: oklch(35% .15 250);
      cursor: pointer;

      &:hover {
        background: oklch(90% 0.02 250);
      }
    }

    .json-key-selected {
      background: oklch(85% 0.05 250);
    }

    .json-string { color: oklch(30% .18 160); }
    .json-number { color: oklch(40% .15 130); }
    .json-boolean { color: oklch(45% .18 260); }
    .json-null { color: oklch(50% .05 250); }
    .json-punctuation { color: oklch(20% .03 250); }
  }

  .errors {
    font-family: "Courier New", Courier, monospace;
  }
}
