@layer base, components;

@layer base {
  :root {
    --gray-50: oklch(98.7% .002 197.1);
    --gray-100: oklch(96.3% .002 197.1);
    --gray-200: oklch(92.5% .005 214.3);
    --gray-300: oklch(87.2% .007 219.6);
    --gray-400: oklch(72.3% .014 214.4);
    --gray-500: oklch(56% .021 213.5);
    --gray-600: oklch(45% .017 213.2);
    --gray-700: oklch(37.8% .015 216);
    --gray-800: oklch(27.5% .011 216.9);
    --gray-900: oklch(21.8% .008 223.9);
    --gray-950: oklch(14.8% .004 228.8);
  }

  * { box-sizing: border-box; margin: 0; padding: 0; }

  body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
    color: light-dark(var(--gray-800), var(--gray-200));
    background-color: light-dark(white, var(--gray-950));
  }

  main {
    padding: 2rem;
    max-inline-size: 80rem;
    margin-inline: auto;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  pre {
    margin: 0;
    padding-block: .5rem;
    padding-inline: 1rem;
    max-height: calc(20lh + 1rem);
    width: 100%;
    font-size: .875rem;
    background: light-dark(var(--gray-50), var(--gray-800));
    border: 1px solid light-dark(transparent, var(--gray-700));
    border-radius: .375rem;
    overflow-x: auto;
  }
}

@layer components {
  .heading {
    margin-block-end: 1rem;
    font-size: 1.875rem;
    font-weight: 550;
    letter-spacing: -.0125em;
    color: light-dark(var(--gray-700), var(--gray-100));

    .divider {
      font-weight: 400;
      color: light-dark(var(--gray-600), var(--gray-300));
    }

    a {
      color: light-dark(var(--gray-500), var(--gray-400));

      &:hover { color: light-dark(var(--gray-800), var(--gray-200)); }
    }
  }

  .events {
    list-style: none;
    margin-block-start: 1rem;

    li {
      --icon-width: 1.125rem;

      padding-block: .5rem;
      padding-inline: .75rem;

      &:hover { background: light-dark(var(--gray-50), var(--gray-800)); }

      a {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;

        &:hover { text-decoration: none; }
      }

      .icon {
        width: var(--icon-width);
        aspect-ratio: 1/1;
        border-radius: .15rem;
      }

      .name {
        display: grid;
        grid-template-columns: var(--icon-width) 1fr;
        align-items: center;
        gap: .5rem;
      }

      code {
        display: flex;
        align-items: center;
      }
    }

    li:not(:first-child) {
      border-top: 1px solid light-dark(var(--gray-100), var(--gray-800));
    }

    .empty-state {
      display: none;
      font-size: .875rem;
      font-weight: 300;
      color: light-dark(var(--gray-400), var(--gray-500));

      &:only-child { display: block; }
    }
  }

  .status {
    display: flex;
    align-items: center;
    column-gap: .375rem;

    &::before {
      content: "";
      width: .5rem;
      aspect-ratio: 1/1;
      background-color: currentColor;
      border: 1.75px solid oklch(from currentColor .9 c h / .8);
      border-radius: .5rem;
    }

    &[data-status="pending"]::before { color: oklch(65% .15 80); }

    &[data-status="processed"]::before { color: oklch(65% .15 150); }

    &[data-status="failed"]::before { color: oklch(60% .2 25); }
  }

  .filters {
    display: flex;
    align-items: center;
    gap: 2rem;

    fieldset {
      border: 0;

      legend {
        font-size: .875rem;
        font-weight: 400;
        color: light-dark(var(--gray-500), var(--gray-400));
      }

      input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
      }

      .pills {
        display: inline-flex;
        background-color: light-dark(var(--gray-50), var(--gray-800));
        border: 1px solid light-dark(var(--gray-200), var(--gray-700));
        border-radius: .3rem;
        overflow: clip;

        .pill {
          display: inline-flex;
          align-items: center;
          padding: .25rem .75rem;
          font-size: .875rem;
          font-weight: 400;
          border-inline-start: 1px solid light-dark(var(--gray-200), var(--gray-700));
          cursor: pointer;
          transition: all ease-in-out 100ms;

          &:first-child { border-inline-start: 0; }

          &:has(input:checked),
          &:hover:not(:has(input:checked)) {
            background-color: light-dark(var(--gray-100), var(--gray-700));
          }
        }
      }
    }

    select {
      padding: .4rem .75rem;
      font-size: .875rem;
      background-color: light-dark(var(--gray-50), var(--gray-800));
      border: 1px solid light-dark(var(--gray-200), var(--gray-700));
      border-radius: .25rem;
      cursor: pointer;
    }

    [type=submit] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0; }
  }

  .details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem 2rem;
    overflow: hidden;

    .description {
      display: flex;
      align-items: baseline;
      margin-block-start: .125em;
      font-weight: 500;
      color: light-dark(var(--gray-700), var(--gray-400));
    }

    .icon {
      width: 1.125rem;
      aspect-ratio: 1/1;
      margin-right: .25rem;
      border-radius: .15rem;
    }

    .value {
      position: relative;
      display: flex;
      align-items: center;
      overflow-x: auto;

      button { margin-left: .25rem; }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: .5rem;
      position: absolute;
      top: .5rem; right: .5rem;
    }

    svg {
      width: 1rem;
      aspect-ratio: 1 / 1;
      color: light-dark(var(--gray-800), var(--gray-200));
    }

    dd .copy-button .success-icon {
      display: none;
    }

    dd:has([data-copy-success="true"]) .copy-button .copy-icon {
      display: none;
    }

    dd:has([data-copy-success="true"]) .copy-button .success-icon {
      display: block;
    }
  }

  button,
  .copy-button {
    padding: .125rem;
    background: light-dark(var(--gray-50), var(--gray-800));
    border: 0;
    border-radius: .25rem;
    cursor: pointer;

    &:hover {
      color: light-dark(var(--gray-800), var(--gray-400));
      transition: transform ease-in-out 300ms;

      & svg { transform: scale(1.05); }
    }
  }

  .retry-button {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    margin-inline-start: .5rem;
    padding: .25rem .75rem;
    border: 1px solid light-dark(var(--gray-200), var(--gray-700));
  }

  .json-highlight {
    .json-key {
      color: light-dark(oklch(35% .15 250), oklch(70% .2 250));

      #payload & {
        border-radius: .125rem;
        cursor: pointer;
      }

      #payload &:hover {
        background: light-dark(oklch(from currentColor l c h / .1), oklch(from currentColor l c h / .2));
      }
    }

    .json-key-selected {
      background: light-dark(oklch(85% .05 250), oklch(25% .08 250));
    }

    .json-string { color: light-dark(oklch(30% .18 160), oklch(72% .18 160)); user-select: all; }
    .json-number { color: light-dark(oklch(40% .15 130), oklch(70% .18 130)); }
    .json-boolean { color: light-dark(oklch(45% .18 260), oklch(75% .2 260)); }
    .json-null { color: light-dark(oklch(50% .05 250), oklch(68% .08 250)); }
    .json-punctuation { color: light-dark(oklch(20% .03 250), oklch(60% .03 250)); }
  }

  .errors {
    padding-block: .5rem;
    padding-inline: 1rem;
    max-height: calc(20lh + 1rem);
    font-size: .875rem;
    color: light-dark(oklch(50.5% .213 27.52), oklch(88.5% .062 18.33));
    background: light-dark(oklch(97.1% .013 17.38), oklch(25.8% .092 26.04 / .5));
    border-radius: .5rem;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
  }
}
